#banner{
    margin-top: 100px;
    
}

#banner p {
    padding-left: 45px;
}

#bannerCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid grey;
    height: 300px;
}

.jumbotron{
    background-color: white;
    height: 500px;
}

.btn-primary{
    margin-top: 20px;
}

.card-body{
    box-shadow: 5px 10px 18px #888888;
}